.container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  transform: translate();
  align-items: center;
  color: #4f1e10;
  z-index: 1000;
  background-color: #e4ddf4;
}

.menuIcon {
  margin-right: 15px;
}

<<<<<<< Updated upstream
=======
.navButton {
  cursor: pointer;
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  font-size: 24px;
}

.navButton:hover {
  background-color: grey;
}

>>>>>>> Stashed changes
.menuIcon :hover {
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left: 2%;
  width: auto;
  font-size: 30px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 2%;
}
.modalContainer {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  border: "2px solid #000";
  box-shadow: 24;
}
