html,
nav,
body {
  padding: 0;
  margin: 0;
  font-family: "Lacquer";
}

input,
button {
  font-family: "Lacquer" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  background: "#e4ddf4";
}
